@charset "utf-8";
:root { --main-color: #B1392B; --main2-color: #264552;}
body { line-height: 1.5; color: #323232; overflow-x: hidden; }
.inner {max-width: 1720px; margin: 0 auto; padding: 0 20px;}

/* header */
#header { top:0; left: 0; width: 100%; color: #fff; z-index: 999; position: absolute; padding: 15px 0 20px;}
#header .inner {display: flex; justify-content: space-between; align-items: center; }
#header .inner h1 img { display: block;}
#header .inner .gnb { display: flex; font-size: 2rem; gap: 50px;}
#header .inner .gnb > li { position: relative;}
#header .inner .gnb > li:hover > a { color: #F4A261;}
#header .inner .gnb > li .depth2 { z-index: 3; position: absolute; background: #fff; width: 200px; padding: 20px; font-size: 1.5rem; left: 0; height: 130px;  display: none; border-radius: 20px;}
#header .inner .gnb > li .depth2 li a { display: block; transition: all 0.5s; padding-bottom: 10px; color: #323232;}
#header .inner .gnb > li .depth2 li a:hover { color: #F4A261; }
#header .inner .gnb > li:hover .depth2 {display: block;}
#header .ham { z-index: 998; position: relative; width: 30px; height: 30px; background: transparent; font-size: 0; cursor: pointer; margin-right: 20px; display: none;}
#header .ham::after{content: ""; position: absolute; left: 0; top: 8px; display: block; width: 100%; height: 3px; background: #ffF; transition: all 0.5s;}
#header .ham::before{content: ""; position: absolute; left: 0; bottom: 8px; display: block; width: 100%; height: 3px; background: #ffF; transition: all 0.5s;}

#header .ham.active::after {transform: translate(0,5.5px) rotate(45deg);}
#header .ham.active::before {transform:  translate(0,-5.5px) rotate(-45deg);}
.mgnb { display: none; padding: 100px 0; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: var(--main2-color); z-index: 888; transform: translateY(-100%);}

#header .ham.active::after {transform: translate(0,5.5px) rotate(45deg);}
#header .ham.active::before {transform:  translate(0,-5.5px) rotate(-45deg);}
.mgnb { display: none; padding: 100px 0; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: var(--main2-color); z-index: 888; transform: translateY(-100%);}

.mgnb.active { display: block; transform: translateY(0);}
.mgnb li { font-size: 3rem; padding: 30px; border-bottom: 1px solid rgba(255,255,255,0.3);}
.mgnb li:hover {color: #F4A261; transition: all 0.5s;}

/* 반응형 */
@media (max-width: 1286px) {
  #header .inner .gnb {font-size: 1.3rem; height: 15px;}
}

@media (max-width: 1085px) {
  #header .inner .gnb {display: none;}
}

/* 로그인,언어 버튼 */
.button a { color: #fff; border: 1px solid #fff; background-color: transparent; border-radius: 40px;   text-align: center; padding: 10px 20px; font-size: 1.4rem;}

.button .login { margin-right: 5px;}
.button a:hover { background: #fff; color: var(--main2-color);}

/* 반응형 */

@media (max-width: 1286px) {
  .button{font-size: 1.2rem; padding: 5px 10px;}
}
@media (max-width: 1085px) {
  .button {display: none; }
 #header .ham { display: block;}
 }

 /* main */
 .main {position: relative; /* height: 100vh; */}
 .main .inner {padding: 0;max-width: 1920px; /* height: 100%; */}
 .main img{ display: block; width: 100%; height:100%; position: relative; object-fit: cover;}

 /* step */
 .step {margin-top: 200px;}
 .step .inner {top: 0; left: 0; text-align: center; font-size: 1.5rem; position: relative;}
 .step_top h2::before {content: url(../img/section1/mini_symboll.png); display: block;}
 .step_top h2 {font-size: 4rem; color: var(--main2-color); padding-bottom: 20px;}
 .step_top p {font-weight: 500; color: var(--main2-color); word-break:keep-all;}
 .step_top p span { color: var(--main-color);}
.step_bottom {margin-top: 100px; display: flex; justify-content: space-between;}
.step_bottom > div {width: calc((100% - 50px) / 3);}
.step_bottom h3 { font-size: 2.5rem; color: var(--main2-color); padding-bottom: 10px; font-weight: 500;}
.step_bottom dl{height: auto; background: #264552; padding-top: 30px; border-radius: 15px; box-shadow: 3px 2px 8px rgba(0,0,0,0.30);}
.step_bottom dt {width: 100%; height: auto; display: flex; justify-content: center;}
.step_bottom img {width: 60%;}
.step_bottom dl dd ul  { background: #fff; padding: 30px; border-radius: 0 0 15px 15px; height: 150px; box-shadow:  0 -5px 5px -5px rgba(0,0,0,0.20); position: relative;  display: flex; flex-direction: column;  justify-content: center;}
.step_bottom dl dd ul li { padding-bottom: 10px; /* word-break:keep-all; */ font-size: 1.5rem;}
.step_bottom dl dd ul li> span { font-size: 2rem; color: var(--main2-color); font-weight: 600;}

@media (max-width:1100px) {
   .step_top h2 {font-size: 3.5rem; }
  .step_bottom h3 {font-size: 2rem;}
  .step_bottom dl dd ul li {font-size: 1.3rem;}
  .step_bottom dl dd ul li> span { font-size: 1.5rem; }
}

@media (max-width:850px) {
  .step_bottom { flex-direction: column; justify-content: center; align-items: center; gap: 30px; margin-top: 80px;}
   .step_top p { font-size: 1.3rem;}
  .step_bottom > div { width:70%;}
   .step_bottom dl dd ul li {font-size: 1.5rem; word-break:keep-all;}
  .step_bottom dl dd ul li> span { font-size: 1.8rem;}
}

/* .service */
.service { margin-top: 200px;}
.service .inner {text-align: center;}
.service h2 { font-size: 4rem; color: var(--main2-color); position: relative; padding-bottom: 10px;}
.service h2 span {font-size: 4.5rem; color: var(--main-color); font-weight: 600; position: relative;}
.service h2 span::before {content: "\00B7";display: inline-block; position: absolute; top: -55%; width: 100%;}

/* .service 내용 */
.service_text { display: flex; justify-content: space-between; align-items: center;}
.service_text > div {width: calc((100% - 20px) / 3);}
.service_text .service_box1, .service_text .service_box3 dl  { display: flex; flex-direction: column;}
.service_text .service_box1 dl { margin-bottom: 100px;  text-align: right;}
.service_text .service_box3 dl {margin-bottom: 100px;  text-align: left;}
.service_text dt { font-size: 2.5rem; color: var(--main2-color); font-weight: 500; padding-bottom: 5px;}
.service_text dd {font-size: 1.5rem; }
.service_text dd span { color: var(--main-color); font-weight: 500; }
.service_text .service_box2 img { width: 80%;}

.box_left_1 dt {background: url(../img/section2/icon1.png) no-repeat right 180px center;}
.box_left_2 dt {background: url(../img/section2/icon2.png) no-repeat right 154px center / 22px 40px;}
.box_left_3 dt {background: url(../img/section2/icon3.png) no-repeat right 151px center;}
.box_right_1 dt {background: url(../img/section2/icon4.png) no-repeat left 174px top -1px;}
.box_right_2 dt {background: url(../img/section2/icon5.png) no-repeat left 180px top 7px;}
.box_right_3 dt {background: url(../img/section2/icon6.png) no-repeat left 180px top 3px;}

@media (max-width:1400px) {
  .service_text .service_box2 img { width: 100%;}
}

@media (max-width:1100px) {
  .service .inner { background: url(../img/section2/iphone_mockup_back.png) no-repeat center / contain; }
  .service_text .service_box2 {display: none;}
  .service_text {display: flex; flex-direction: column; align-items: center;}
  .service_text > div {width: 80%; align-items: center; display: flex; flex-direction: column;}
  .service_text .service_box1 dl, .service_text .service_box3 dl  { background: #fff; text-align: center; padding: 30px; box-shadow: 3px 2px 8px rgba(0,0,0,0.30); border-radius: 20px; margin-bottom: 30px; height: auto; width: 90%;}

  .service h2 { font-size: 2.5rem; ;}
.service h2 span {font-size: 3.2rem;}

  .box_left_1 dt {background: url(../img/section2/icon1.png) no-repeat left calc(50% - 100px) top 1px}
.box_left_2 dt {background: url(../img/section2/icon2.png) no-repeat left calc(50% - 88px) top 1px / 22px 40px;;}
.box_left_3 dt {background: url(../img/section2/icon3.png) no-repeat left calc(50% - 100px) center;}
.box_right_1 dt {background: url(../img/section2/icon4.png) no-repeat left calc(50% - 105px) top -1px;}
.box_right_2 dt {background: url(../img/section2/icon5.png) no-repeat left calc(50% - 103px) top 7px;}
.box_right_3 dt {background: url(../img/section2/icon6.png) no-repeat left calc(50% - 105px)top 5px;}
}

/* map */
.map {background: var(--main2-color) url(../img/section3/back_img.png)no-repeat right bottom; padding: 200px 0;}
.map .inner {display: flex; justify-content: center; align-items: center; color: #fff; gap: 20px;}
.map_img {max-width: 680px;}
.map_img img {width: 100%;}
.map_img_1{ display: none;}
.map .text p{ font-size: 2.2rem; position: relative; }
.map .text p::before {content: ""; border-top: 3px solid #fff; width: 80px; display: block; border-radius: 50px; top: -3px; position: absolute; }
.map .text dt {font-size: 5rem; font-weight: 600; padding: 8px 0 40px 0;}
.map .text span { color: #F4A261;}
.map .text dd { font-size: 1.8rem;}

@media (max-width:1250px) {
  .map .text p {font-size: 2rem;}
  .map .text dt {font-size: 4.5rem;}
  .map .text dd {font-size: 1.5rem;}
}

@media (max-width:1100px) {
  .map .inner { flex-direction: column; text-align: center;}
  .map .text p {display: inline-block;}
  .map .text p::before{left:0;}
  .map .text dl {order: 1; text-align: center;}
  .map_img_1 { display: block; max-width: 680px; order: 2; display: flex; justify-content: center;}
  .map_img_1 img { width: 100%;}
  .map_img { display: none;}
}

@media (max-width:750px) {
  .map .text p {font-size: 1.5rem;}
  .map .text p::before{width: 60PX;}
  .map .text dt {font-size: 3.5rem; padding: 4px 0 20px 0;}
  .map .text dd {font-size: 1.2rem;}
}

/* visual */
